<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Court Counter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    
      <ion-grid>

        <ion-row>
        
            <ion-col align-self: center>

              <h1>Team A</h1>
              <br>

              <ion-textarea>
                <h2>{{scoreA}}</h2>
              </ion-textarea>
              <ion-button color="warning"  (click)="setTeamA(4)">+4</ion-button>
              <ion-button color="warning" [disabled]=" isVaildA" (click)="minusTeamA(4)">-4</ion-button>
              <br>
              <ion-button color="warning" (click)="setTeamA(3)">+3</ion-button>
              <ion-button color="warning"  [disabled]=" isVaildA" (click)="minusTeamA(3)">-3</ion-button>
              <br>
              <ion-button color="warning" (click)="setTeamA(2)">+2</ion-button>
              <ion-button color="warning" [disabled]=" isVaildA" (click)="minusTeamA(2)">-2</ion-button>
              <br>
              <ion-button color="warning" (click)="setTeamA(1)">+1</ion-button>
              <ion-button color="warning" [disabled]=" isVaildA" (click)="minusTeamA(1)">-1</ion-button>
            </ion-col>
          
<div class="divider"></div>
          
            <ion-col align-self: center>
              <h1>Team B</h1>
              <br>

              <ion-textarea>
                <h2>{{scoreB}}</h2>
              </ion-textarea>
              <ion-button color="warning" (click)="setTeamB(4)">+4</ion-button>
              <ion-button color="warning"  [disabled]=" isVaildB" (click)="minusTeamB(4)">-4</ion-button>
              <br>
              <ion-button color="warning" (click)="setTeamB(3)">+3</ion-button>
              <ion-button color="warning" [disabled]=" isVaildB" (click)="minusTeamB(3)">-3</ion-button>
              <br>
              <ion-button color="warning" (click)="setTeamB(2)">+2</ion-button>
              <ion-button color="warning"  [disabled]=" isVaildB"  (click)="minusTeamB(2)">-2</ion-button>
              <br>
              <ion-button color="warning" (click)="setTeamB(1)">+1</ion-button>
              <ion-button color="warning"  [disabled]=" isVaildB" (click)="minusTeamB(1)">-1</ion-button>
            </ion-col>
       
        </ion-row>
        
        <ion-row>
          <ion-col align-self: center>
            <br>
            <br>
            <br>
            <ion-button color="warning" (click)="reset()">Reset</ion-button>
            <br>

          </ion-col>
        </ion-row>
      </ion-grid>

      <!-- <ng-container *ngIf="scoreA == scoreB message1 " >
    </ng-container>    
         
    <ng-container *ngIf="scoreA > scoreB else message">
<h1> Team A is winning</h1>
    </ng-container>

    <ng-template #message>
      <h1> Team B is winning</h1>
    </ng-template>
    <ng-template #message1>
        <h1> scores level</h1>
      </ng-template> -->

    

</ion-content>