ion-row {
 text-align: center;
   }


    h1{
        text-align: center;  
    }
    .divider {
        border-left: 1px solid black;
        height: 295px;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        top: 15%;
     }
 
